@import '_loader';

body {
  font-family : arial, sans-serif;
}

main {
  display:flex;
}

.module {
  border:solid 1px #ccc;
  min-width:350px;
  height:350px;
  flex-direction:row;
  margin:1em;
  padding:1em;
  border-radius:3px;
}

#graph, #nodeDetails {
  .module;
}

//without a height and a width, cytoscape doesn't display properly.
#cy {
  width:100%;
  height:100%;
}
