<body>
  <div class="graph">
    <div class="cy">
      <div class="status loader"></div>
    </div>
    <div class="controls">
      <div class="interactionFilter">
        <div>Show the following interaction types:</div>
        <div>
          <button class="genetic">Genetic</button><button class="default selected">All</button><button class="physical">Physical</button>
        </div>
      </div>
      <div class="secondaryControls">
        <div class="reset">Reset&nbsp;view</div>
        <div class="showTable">Show in table format</div>
        <div class="export">Export&nbsp;graph
          <div class="exportValues">
            <select>
              <option value="png">PNG</option>
              <option value="jpg">JPG</option>
              <option value="tsv">TSV</option>
              <option value="csv" selected>CSV</option>
            </select>
            <button>Go!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nodeDetails">
    <h2 class="nodeTitle"></h2>
    <dl class="nodeInfo intro">
      <dt class="intro">Click on a gene to get more info about it.</dt>
    </dl>
  </div>
  <div class="tableView firstRun disabled"></div>
</body>
