<dl class="child">
  <dt>Type</dt>
  <dd class="cym-type">{{=type}}</dd>
  {{if (typeof roles !== "string") { }}
    <dt>Roles</dt>
    <dd class="roles">
      <dl>
        {{for (role in roles) { }}
        <dt> {{= role}}</dt>
        <dd> {{= roles[role] }} </dd>
        {{ } }}
      </dl>
    </dd>
  {{ } else { }}
    <dt>Role</dt> <dd> {{=role1}} </dd>
  {{ } }}
  {{ if(dataSets.length == 1) { }}
    <dt>Data set</dt>
    <dd class="dataSets child">{{=dataSets[0].name}}</dd>
  {{ } else if (dataSets.length > 1) { }}
    <dt>Data sets</dt>
    <dd>
      <ul class="dataSets">
        {{for (var i=0; i <dataSets.length; i++) { }}
          <li> {{= dataSets[i].name }} </li>
        {{ } }}
      </ul>
    </dd>
  {{ } }}
</dl>
