.secondaryControl {
  min-height:2.2em;
  line-height:2.2em;
  flex-grow:1;
  padding: 0.5em 1em;
  border:solid 1px #fff;
  box-sizing:border-box;
  border-radius : 4px;
  color:@deemphasisedTextColor;
  margin:0.5em;
  &:hover {
    color:darken(@deemphasisedTextColor,20%);
    background-color:@primaryColor;
  }
}
