@import '_loader';
@import '_clearfix';

@cySize : 350px;

body {
  font-family : arial, sans-serif;
}

main {
  display:flex;
  background-color:#fcfcfc;
}

.module {
  min-width:@cySize;
  min-height:@cySize;
  flex-direction:row;
  margin:1em;
  border-radius:4px;
}

#graph, #nodeDetails {
  .module;
}

.nodeTitle {
  margin:0.2em;
}

//without a height and a width, cytoscape doesn't display properly.

#cy {
  width:@cySize;
  height:@cySize;
}

dt, dd {
  float:left;
  margin-left:0.5em;
  margin-top:0.1em;
}

dl {
  .cf;
  border-left:solid 1px #ccc;
  margin:0;
  clear:left;
  float:left;
}

dt {
  &:after {
    content: ": ";
  }
  font-weight:bold;
  float:left;
  clear:left
}

dd.child {
  clear:left;
}

.status {
  text-align:center;
  &.no-results {
    .module;
    background-color:#fff;
    line-height: @cySize;
  }
}
